{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
<link rel="stylesheet" href="./static/styles/home.css">
<body>
    <form style="text-align:center;"  name="add_training" method="post">
        {% csrf_token %}
        <p>Введите название упражнения: </p>
        <input required style="width: 30%; height: 30px;font-size: 24px; margin-top: 1%;" type="text">
        <p>Введите ссылку на упражнение: </p>
        <input required style="width: 30%; height: 30px; margin-top: 1%;" type="text">
        <div class="rows">
            <label>Выберите уровень: </label> 
        </div>
        <select name="user_lvl" id="user_lvl" multiple required>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <div class="rows">
            <label>Выберите пол: </label>
        </div>
        <select name="user_gender" id="user_gender" multiple required>
     {% for val, name in  gender.items %}
            <option value="{{ val }}">{{ name }}</option>
            {% endfor %}
        </select>
        <div class="rows">
            <label>Выберите тип тренировки: </label>
        </div>
        <select name="user_type_training" id="user_type_training" multiple required>
            <option value="1">Быстрая</option>
            <option value="2">Персональная</option>
        </select>
        <div class="rows">
            <label>Выберите место: </label>
        </div>
        <select name="places" id="places" multiple required="required">
            {% if places %}
            {% for place in places %}
            <option value="{{ place.id }}"> {{ place.name }}</option>
            {% endfor %}
            {% endif %}
        </select>
        <div class="rows">
            <label>Выберите группу мышц: </label>
        </div>
        <select name="user_muscles" id="user_muscles" multiple required>
                {% for val, name in  muscle_groups.items %}
            <option value="{{ val }}">{{ name }}</option>
            {% endfor %}
        </select>
        <div style="text-align: center; margin-top: 1%;">
            <button class="button-89" type="submit">Отправить</button>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('places');
        new MultiSelectTag('user_muscles');
        new MultiSelectTag('user_type_training');
        new MultiSelectTag('user_gender');
        new MultiSelectTag('user_lvl'); // id
    </script>


</body>
{% endblock %}