<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training bot</title>
    <link rel="stylesheet" href="./static/styles/base.css">
</head>
<body>
    <div style="text-align: center;">
        <button onclick="document.location='index'"  class="button-89" role="button">На главную</button>
        <button onclick="document.location='add_training'" class="button-89" role="button">Добавить упражнения</button>
        <button onclick="document.location='users'" class="button-89" role="button">Просмотреть пользователей</button>
        <button onclick="document.location='statistics'" class="button-89" role="button">Просмотреть статистику</button>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>