{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
<style>
    .rows{
        margin: auto;
        text-align: center;
        margin: 15px;
        color: #fff;
        text-align: center;
        font-size: 40px; 
    }
    p{
        margin: 0;
        color: #fff;
        text-align: center;
        font-size: 40px;
    }
    .mult-select-tag{
        width: 30%;
        margin: auto;
    }
</style>
<body>
    <form style="text-align:center;" action="" method="get">
        <p>Введите название упражнения: </p>
        <input style="width: 30%; height: 20px; margin-top: 1%;" type="text">
        <p>Введите ссылку на упражнение: </p>
        <input style="width: 30%; height: 20px; margin-top: 1%;" type="text">
        <div class="rows">
            <label>Выберите уровень: </label> 
        </div>
        <select name="user_lvl" id="user_lvl" multiple required="required">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <div class="rows">
            <label>Выберите пол: </label>
        </div>
        <select name="user_gender" id="user_gender" multiple required="required">
            <option value="1">М</option>
            <option value="2">Ж</option>
            <option value="3">М/Ж</option>
        </select>
        <div class="rows">
            <label>Выберите тип тренировки: </label>
        </div>
        <select name="user_type_training" id="user_type_training" multiple required="required">
            <option value="1">Быстрая</option>
            <option value="2">Персональная</option>
        </select>
        <div class="rows">
            <label>Выберите место: </label>
        </div>
        <select name="places" id="places" multiple required="required">
            <option value="1">Тренажерный Зал</option>
            <option value="2">Спортивная площадка на улице</option>
            <option value="3">Дом</option>
        </select>
        <div class="rows">
            <label>Выберите группу мышц: </label>
        </div>
        <select name="user_muscles" id="user_muscles" multiple required="required">
            <option value="1">Спина</option>
            <option value="2">Ноги</option>
            <option value="3">Бицепс</option>
            <option value="4">Трицепс</option>
            <option value="5">Грудь</option>
            <option value="6">Трапеции</option>
            <option value="7">Плечи</option>
            <option value="8">Пресс</option>
            <option value="9">Разминка</option>
            <option value="10">Функциональная</option>
            <option value="11">Кардио</option>
        </select>
        <div style="text-align: center; margin-top: 1%;">
            <button class="button-89">Отправить</button>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('places');
        new MultiSelectTag('user_muscles');
        new MultiSelectTag('user_type_training');
        new MultiSelectTag('user_gender');
        new MultiSelectTag('user_lvl'); // id
    </script>


</body>
{% endblock %}