{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="./static/styles/base.css">
<body>
 {% if users %}

  <div class="content_buttons">
        {% for user in users %}
            <div style="margin: 15px;">
        <button onclick="document.location='user_characteristics?id={{ user.id }}'" class="button-89" role="button">{{ user.name }}</button>
      </div>
        {% endfor %}
  </div>
  <nav aria-label="Page navigation" style="margin-top: 3%; ">
    <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">В начало</span>
          </a>
        </li>
        <li class="page-item">
          <a href="" class="page-link">&lsaquo; Предыдущая</a>
        </li>   
        
        {% for n in users.paginator.page_range %}
          {% if users.number == n %}
            <li class="page-item active">
              <span class="page-link">{{ n }}<span class="sr-only"></span></span>
            </li>
          {% elif n > users.number|add:'-3' and n < users.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
          {% endif %}
        {% endfor %}
        
        {% if users.has_next %}
        <li class="page-item ">
          <a href="?page={{ users.next_page_number }}" class="page-link">Следущая &rsaquo;</a>
        </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ users.paginator.num_pages }}" aria-label="Next">
              <span class="sr-only">В конец</span>
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}

    </ul> 
  </nav>
 {% else %}
<p>Здесь пока ничего нет</p>
{% endif %}
</body>
{% endblock %}