@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: rgb(60, 60, 59);
    margin: 5px;
    width: auto;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }
body{
  background: rgb(235, 235, 211);
  color: rgb(60, 60, 59);
}

.content{
    margin-top: 3%;
    color: rgb(60, 60, 59);
    text-align: center;
    font-size: 40px;
}
.content_buttons{
    margin-top: 3%;
    color: #fff;
    text-align: center;
    font-size: 40px;
}

* { box-sizing: border-box; }
header {
background: white;
text-align: center;
}
*, ::after, ::before {
    box-sizing: border-box;
}
header a {
text-decoration: none;
outline: none;
display: block;
transition: .3s ease-in-out;
}
.a{
    width: auto;
}
nav {
display: table;
margin: 0 auto;
}
nav ul {
list-style: none;
margin: 0;
padding: 0;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  width: 30%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-weight: bold;
  color: #404040;
  padding: 15px 30px;
}
.topmenu li a:hover { color: #D5B45B; }
.submenu-link:after {
  content: "";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}

.submenu {
  background: rgb(60, 60, 59);
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 220px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
.page-link{
  color: rgb(245, 213, 71);
}

.page-item.active .page-link {
  background-color: rgb(245, 213, 71);
  border-color: rgb(245, 213, 71);
}
.page-link:hover {
  color: rgb(245, 213, 71);
}